:root {
  --main-light: #ffffff;
  --nav-hover: #b6b2e3;
  --main-dark: #130d26;
  --accent: #403a80;
  --sidebar-bg: #29235c;
  --default-padding-inline: min(5rem, 8vw); 
}


body {
  font-family: Arial, sans-serif;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* Using CSS grids to lay out the sections */
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-template-columns: repeat(12, 1fr);
}

body > * {
  /* so that everything has a consistent padding */
  padding-inline: var(--default-padding-inline);
}

/* Header and Footer shares a lot of characteristics */

header,
footer {
  grid-column: 1 / last;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--accent);
  padding-block: 1rem;
}

header *,
footer * {
  margin: 0;
}

footer {
  background-color: var(--main-dark);
  margin-top: auto;
}

footer * {
  color: var(--main-light);
}

header .title {
  color: var(--main-light);
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

nav * {
  margin: 0;
  padding: 0;
}

/* Navigation list now looks like a navigation list */
nav > ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

nav > ul a {
  color: var(--main-light);
  text-decoration: none;
}

nav > ul a:hover {
  color: var(--nav-hover);
}

/* Gap between "Welcome" and "Line up" section */
main,
aside {
  --half-padding: calc(var(--default-padding-inline) / 2);
  padding-block: 1.5rem;
}

main {
  grid-column: 1  / 9;
  padding-inline-end: var(--half-padding);
}


h1 {
  margin-top: 0;
  text-decoration: underline;
}

/* Default styling removed */
figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

figure img {
  width: 100%;
}

figcaption {
  font-size: 0.9rem;
  color: var(--main-dark);
}

figcaption a {
  color: var(--accent);
}

/* Sidebar */
aside {
  grid-column: 9 / last;
  padding-inline: var(--half-padding);
  background-color: var(--sidebar-bg);
  margin-block: 2rem;
  color: var(--main-light);
}

aside ul {
  list-style-type: square;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.image-grid img {
  aspect-ratio: 1 / 1;
  width: 100%;
}