*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-main-light: #aab8d3;
  --background-main-dark: #212121;
  --text-main-light: #000000;
  --text-main-dark: #eeeeee;
  --accent-main: #ff8b3d;

  --default-inline-padding: min(5rem, 8%);

  background-color: var(--background-main-light);
  color: var(--text-main-light);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body>* {
  padding: 1rem var(--default-inline-padding);
}

header {
  background-color: var(--accent-main);
}

header>* {
  margin: 0;
  padding: 0;
}

button {
  --border-color: #dfdfdf;
  --shadow-color: #b3b3b3;
  --btn-height: 8px;
  
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  box-shadow: var(--shadow-color) 0 var(--btn-height);
  margin-block: 0 var(--btn-height);
  transition: box-shadow 100ms ease-out,
              margin-block 100ms ease-out,
              background-color 100ms ease-out,
              color 100ms ease-out,
              border 100ms ease-out,
              filter 100ms ease-out;
}

button:hover {
  --border-color: #5b94ff;
  --shadow-color: #7260e7;
  background-color: var(--border-color);
  color: var(--text-main-dark);
}

button:active {
  filter: brightness(0.9);
  box-shadow: var(--shadow-color) 0 0;
  margin-block: var(--btn-height) 0;
}

#color-prompt {
  --background-color: #333333;
  width: fit-content;
  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: var(--background-color);
  box-shadow: var(--background-main-dark) 0 0.5rem;
  color: var(--text-main-dark);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


#color-prompt * {
  text-align: center;
  margin: 0;
}


#choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}

.color-choice {
  aspect-ratio: 1 / 1;
  width: 150px;
  background-color: var(--accent-main);
  border: var(--border-color) solid 12px;
}

#reset {
  display: block;
  margin-inline: auto;
}