*,
*::after,
*::before {
  box-sizing: border-box;
}

/* These keyframes are used in the game-over screen */
@keyframes fade-in {
  0% { opacity: 0;}
  100% {opacity: 1;}
}

@keyframes pop-up {
  0% {
    scale: 0;
    translate: 0 200%;
  }
  25% {
    scale: 50%;
  }
  100% {
    scale: 100%;
    translate: 0 0;
  }
}

/* Fonts. */
@font-face {
  font-family: 'Digital 7';
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Digital-7Mono.woff2);
}
@font-face {
  font-family: 'Funnel Display';
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Funnel-Display-regular.woff2);
}

/* Some variables (and setting some defaults) */
:root {
  --background-main-light: #aab8d3;
  --text-main-light: #000000;
  --text-main-dark: #eeeeee;
  --red: #ff6868;
  --green: #99ff94;
  --blue: #3bb1ff;

  --default-inline-padding: min(5rem, 8%);

  background-color: var(--background-main-light);
  color: var(--text-main-light);
}

body {
  font-family: 'Funnel Display', Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body>* {
  padding: 1rem var(--default-inline-padding);
}

header,
footer {
  background-color: var(--background-main-light);
  box-shadow: #1e3f623e 0 0px 32px 16px;
}

header>*,
footer>* {
  margin: 0;
  padding: 0;
}

/* Lets the footer stay at the bottom */
main {
  flex: 1;
}

/* Fancy anchor styling */
a {
  --anchor-color: #ff00b3;
  color: var(--anchor-color);
  text-decoration: none;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 0;
  background-color: var(--anchor-color);
  border-radius: 1.5px;
  width: 0;
  height: 1.5px;
  opacity: 0;
  transition: width 200ms ease-out;
}

a:hover::before {
  opacity: 1;
  width: 100%;
}

/* Buttons, mainly for the choice buttons */
button {
  --border-color: #dfdfdf;
  --shadow-color: #b3b3b3;
  --btn-height: 8px;
  
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  box-shadow: var(--shadow-color) 0 var(--btn-height),
              #0004 0 calc(var(--btn-height) + 2px) 12px 2px;
  margin-block: 0 var(--btn-height);
  transition: box-shadow 100ms ease-out,
              transform 100ms ease-out,
              background-color 100ms ease-out,
              color 100ms ease-out,
              border 100ms ease-out,
              filter 100ms ease-out;
}

button:hover {
  --border-color: var(--blue);
  --shadow-color: #7987e6;
  background-color: var(--border-color);
  color: var(--text-main-dark);
}

button:active {
  filter: brightness(0.9);
  box-shadow: var(--shadow-color) 0 0,
              #0004 0 0 12px;
  transform: translateY(var(--btn-height));
}

/* Bar that displays lives and score */
#status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

#lives {
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  grid-template-rows: repeat(2, auto);
  column-gap: 4px;
  place-items: center;
}


#lives .label,
#score .label {
  grid-column: 1 / last;
  margin: 0;
}

#lives .label {
  place-self: start;
}

#lives .heart {
  --full-heart: #ff0000;
  --broken-heart: #484848;
  fill: var(--full-heart);
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 200ms linear;
}

/* When player loses a life, this is toggled */
#lives .heart.broken {
  fill: var(--broken-heart);
  scale: 0.5;
}

#score {
  display: grid;
  grid-template-rows: repeat(2, auto);
  column-gap: 4px;
  place-items: end;
}

#score .counter {
  font-size: 3rem;
  margin: 0;
  font-family: 'Digital 7';
}

/* The thing. */
#color-prompt {
  --background-color: #404040;
  --display-color: #303030;
  --height: 16px;
  width: min(600px, 90%);
  padding: 1rem;
  background-color: var(--background-color);
  margin-inline: auto;
  color: var(--text-main-dark);
  box-shadow: #2c2c2c 0 var(--height),
              #0004 0 calc(var(--height) + 2px) 24px 6px;
  margin-bottom: calc(var(--height) + 2rem);
  border-radius: 0.75rem;
  text-align: center;
}

#color-prompt .label {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

/* Made to look like a segmented display */
#color-prompt .color {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  place-items: center;
  font-family: 'Digital 7';
  font-size: 4rem;
}
#color-prompt .color span {
  width: calc(3ch + 2rem);
  padding: 0.5rem 1rem;
  text-align: end;
  background-color: var(--display-color);
  border-radius: 8px;
  box-shadow: inset #00000030 4px 4px 12px 4px, inset #5f5f5f30 -4px -4px 12px 4px;
}

/* Red */
#color-prompt .color span:nth-child(1) {
  color: var(--red);
}
/* Green */
#color-prompt .color span:nth-child(2) {
  color: var(--green);
}
/* Blue */
#color-prompt .color span:nth-child(3) {
  color: var(--blue);
}

#choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* Choice button */
.color-choice {
  aspect-ratio: 1 / 1;
  width: min(150px, 100%);
  background-color: var(--blue);
  border: var(--border-color) solid 12px;
}

/* Reset button */
.reset {
  display: block;
  margin-inline: auto;
}

#game-over {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

#game-over .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  z-index: -1;
  animation: fade-in 750ms ease-in;
}

#game-over .modal {
  width: fit-content;
  margin: auto;
  transform: translateY(75%);
  background-color: var(--background-main-light);
  padding: 2rem;
  box-shadow: #717b91 0 12px, #0000008e 0 0 24px 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: pop-up 300ms ease-out;
}

#game-over .modal * {
  margin: 0;
}

#game-over .score {
  font-size: 4rem;
}

/* Compatibility with mobile screens (Even scuffed */
@media screen and (max-width: 580px) {
  #color-prompt .color {
    grid-template-columns: unset;
  }
  #color-prompt .color span {
    width: 100%;
  }

  .color-choice {
    width: 100px;
  }
}