*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-main-light: #ffffff;
  --background-alt-light: #eeeeee;
  --background-main-dark: #212121;
  --text-main-light: #000000;
  --text-main-dark: #eeeeee;
  --accent-main: #3dcbff;

  --default-inline-padding: min(5rem, 8%);

  background-color: var(--background-main-light);
  color: var(--text-main-light);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body>* {
  padding: 1rem var(--default-inline-padding);
}

header {
  background-color: var(--background-main-dark);
  color: var(--text-main-dark);
  text-align: center;
}

header>* {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3rem 1fr;
  gap: 2rem;
}

/* 3x3 grid */
.audio-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 1rem;
  margin-bottom: 12px;
}

/* Toggles through page-switching */
.audio-page.hidden,
.audio-page.hidden * {
  display: none;
}

/* ------------ Audio Buttons ------------ */

button {
  --button-height: 8px;
  --button-color: var(--background-alt-light);
  --button-border-color: #555555;
  --button-border-width: 4px;

  padding: 1rem;
  background-color: var(--button-color);
  border: var(--button-border-color) solid var(--button-border-width);
  border-radius: 12px;
  box-shadow: var(--button-border-color) 0 var(--button-height);
  transition: background-color 100ms linear,
              transform 100ms linear,
              box-shadow 100ms linear;
}
button:hover {
  background-color: var(--accent-main);
}
button.audio-active,
button:active {
  background-color: var(--background-main-dark);
  color: var(--text-main-dark);
  box-shadow: none;
  transform: translateY(var(--button-height));
}

.audio-button > * {
  margin: 0;
  padding: 0;
}

/* ------------ Previous Page, Next Page ------------ */

.page-navigator {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.page-navigator button {
  --button-color: #ffd54b;
  --button-border-color: #b35e1d;
  --button-height: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  color: var(--button-border-color);
  background-color: var(--button-color);
  border: var(--button-border-color) solid 2px;
  box-shadow: var(--button-border-color) 0 var(--button-height);
  transition: transform 100ms ease-in, box-shadow 100ms ease-in;
}

.page-navigator button:active {
  transform: translateY(var(--button-height));
  box-shadow: none;
}

.page-navigator button.disabled  {
  filter: saturate(0);
  opacity: 0.5;
}

.page-navigator button.disabled:active {
  transform: unset;
  box-shadow: var(--button-border-color) 0 var(--button-height);
}

/* ------------ Text-to-speech Section ------------ */

#text-to-speech textarea {
  width: 100%;
  resize: vertical;
  min-height: 2rem;
  font-family: unset;
  margin-bottom: 0.5rem;

  border: var(--background-main-dark) solid 2px;
  border-radius: 1rem;
  padding: 1rem;
}

#text-to-speech button#say {
  aspect-ratio: 1 / 1;
  --button-height: 4px;
}

/* ------------ Media Queries ------------ */

@media screen and (max-width: 700px) {
  main {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 480px) {
  .audio-page {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
  }
}